@page "/SignIn"
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.JSInterop;

@using RestSharp;

@inject NavigationManager navman;
@inject UserManager<IdentityUser> _userManager
@inject IJSRuntime _jsruntime;

<AuthorizeView>
    <NotAuthorized Context="NotAuthed">
        <h1 class="text-center">Sign In</h1>
        <div class="container text-center">
            <EditForm EditContext="@_editContext" OnValidSubmit="@ValidSubmit" OnInvalidSubmit="@InvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <hr />
                <div class="container px-1" style="width: 55%; margin-left: 75px;">
                    <div class="form-group row text-right ">
                        <div class="col">
                            <label>
                                Email Address
                                <InputText @bind-Value="Input.Email" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col">
                            <label>
                                Password
                                <InputText type="password" @bind-Value="Input.Password" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label>
                            Remember Me?
                            <InputCheckbox @bind-Value="Input.RememberMe" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" disabled="@isSubmitButtonDisabled">Sign in</button>
                    </div>
                    <div class="col text-left">
                        <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
                    </div>
                    @if (showClearErrors)
                    {
                        <div class="col text-left">
                            <button type="button" class="btn btn-info" @onclick="ClearErrors">Clear Errors</button>
                        </div>
                    }

                </div>
            </EditForm>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> authenticationStateTask { get; set; }

    // This should have gone in the Data folder, but being helps with clarity.
    public class InputModel
    {
        [Required] // @using System.ComponentModel.DataAnnotations;
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }

    private InputModel Input = new InputModel();

    private EditContext _editContext;

    private bool isSubmitButtonDisabled { get; set; }

    private bool showClearErrors { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _editContext = new EditContext(Input);
    }

    public async void ValidSubmit()
    {
        //Validate the data from form
        var user = _editContext.Validate() && await ServerValidate(_editContext);
        if (!user)
        {
            // invalid user supplied;
            showClearErrors = true;
            isSubmitButtonDisabled = true;
            return;
        }

        // First get the form containing tokens
        string uri = navman.BaseUri + $"Identity/Account/Login?Email=" + Input.Email + "&Password=" + Input.Password + "&RememberMe=" + Input.RememberMe.ToString();
        var getClient = new RestClient(uri);
        var getRequest = new RestRequest(Method.GET);
        IRestResponse getResponse = getClient.Execute(getRequest);

        // Now start building the POST request
        var getHeaders = getResponse.Headers.ToList();
        var getCookies = getResponse.Cookies.ToList();
        var antiCookie = getCookies.Find(x => x.Name.StartsWith(".AspNetCore.Antiforgery."));
        var xsrfCookie = getCookies.Find(x => x.Name.Equals("XSRF-TOKEN"));

        // Start building the client
        var postClient = new RestClient(uri);
        var postRequest = new RestRequest(Method.POST);
        postRequest.AddHeader("X-CSRF-TOKEN-HEADER", xsrfCookie.Value);
        postRequest.AddCookie(antiCookie.Name, antiCookie.Value);
        postRequest.AddCookie("XSRF-TOKEN", xsrfCookie.Value);

        // Execute the request
        IRestResponse response = postClient.Execute(postRequest);
        if (!response.IsSuccessful)
        {
            showClearErrors = true;
            isSubmitButtonDisabled = true;
            return;
        }

        // Extract the cookie
        var authCookie = response.Cookies.ToList().Find(x => x.Name.Equals(".AspNetCore.Identity.Application"));

        // Set the cookie in the browser
        var blazorJSR = new Interop(_jsruntime);
        await blazorJSR.SetCookie(authCookie.Name, authCookie.Value, 14);

        // Navigate away to force the cookie into browser.

        navman.NavigateTo("/", true);
    }

    public void InvalidSubmit()
    {
        _editContext = new EditContext(Input);
        return;
    }

    public void ClearErrors()
    {
        _editContext = new EditContext(Input);
        isSubmitButtonDisabled = false;
        showClearErrors = false;

    }
    public void Cancel()
    {
        navman.NavigateTo("/Index");
    }

    /// <summary>
    /// Runs a series of test on the server and returns pass fail.
    /// </summary>
    /// <param name="editContext"></param>
    /// <returns></returns>
    private async Task<bool> ServerValidate(EditContext editContext)
    {
        // local property of the model
        var input = (InputModel)editContext.Model;

        // local error store
        var validationErrors = new ValidationMessageStore(editContext);

        // First test
        var user = await _userManager.FindByNameAsync(Input.Email);
        if (user == null)
        {
            var field = new FieldIdentifier(input, nameof(Input.Email));
            validationErrors.Add(field, "User name does not exist, try again");
            editContext.NotifyValidationStateChanged();
            return false;
        }

        //Second test
        var result = await _userManager.CheckPasswordAsync(user, Input.Password);
        if (!result)
        {
            var field = new FieldIdentifier(input, nameof(Input.Email));
            validationErrors.Add(field, "Password incorrect");
            editContext.NotifyValidationStateChanged();
            return false;
        }

        return true;
    }
}
