<AuthorizeView>
    <NotAuthorized>
        <NavLink class="nav-link" href="SignUp" Match="NavLinkMatch.All">
            <span class="oi oi-person" aria-hidden="true"></span> Sign Up
        </NavLink>
        <NavLink class="nav-link" href="SignIn" Match="NavLinkMatch.All">
            <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
        </NavLink>
        <a style="color:red" href="Identity/Account/Register">Register</a>
        <a style="color:red" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link ">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Sign Out
            </button>
        </form>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" style="color:red" class="nav-link btn btn-link ">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
